<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="no-margin color-dark-blue txt-center" id="gridSystemModalLabel"><span class="bb-green">Créer un compte</span></h4>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="input-blue input-login">
          <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <div class="text">
            <%= f.input :email,label:false, placeholder:"Email", input_html: { autocomplete: 'off' }, required: true, autofocus: true, class:"input-legaliio log-in" %>
          </div>
        </div>

        <div class="input-blue input-login">
          <div class="icon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
          <div class="text">
          <%= f.input :password, label:false, placeholder:"Mot de passe", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class:"input-legaliio log-in", input_html: { autocomplete: 'off' } %>
          </div>
        </div>

        <div class="input-blue input-login">
          <div class="icon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
          <div class="text">
          <%= f.input :password_confirmation, label:false, placeholder:"Confirmation", required: true, class:"input-legaliio log-in", input_html: { autocomplete: 'off' } %>
          </div>
        </div>
      <%= f.button :submit, "Je m'inscris !", class:"btn-submit-blue btn-modal-center" %>
      <% end %>
  </div>
</div>
</div>
