<div class="p-20px txt-center">
  <h4 class="no-margin color-dark-blue"><span class="bb-green"><%= @client.prenom %> <span class="upper"><%= @client.nom %></span></span></h4>
</div>
<div class="row">
  <div class="col-md-9">
    <p class="client-info">Age : <span class="client-info-content"><%= (Date.today.year - @client.date_de_naissance.year).to_i %> ans</span></p>
    <p class="client-info">Mail : <span class="client-info-content"><%= @client.mail %></span></p>
    <p class="client-info">Téléphone : <span class="client-info-content"><%= @client.portable %></span></p>
    <p class="client-info">Profession : <span class="client-info-content"><%= @client.profession %></span></p>
    <p class="client-info">Adresse : <span class="client-info-content"><%= @client.adresse %></span></p>
  </div>
  <div class="col-md-3 txt-center">
    <img src="<%= image_path "nationalite/#{@client.nationalite}.svg" %>" style="height:16px" data-title="<%= @client.nationalite.capitalize %>">
    <p class="client-info">Catégorie : <br><span class="client-info-content"><%= @client.categorie %></span></p>
  </div>
</div>
<hr>

<div class="p-20px txt-center">
<h4 class="no-margin color-dark-blue"><span class="bb-green">Les Dossiers <span class="upper">(<%= @client.dossiers.length %>)</span></span></h4>
</div>

<div class="row">
  <div class="col-md-3">
    <p>Nom</p>
  </div>
  <div class="col-md-3">
    <p>Catégorie</p>
  </div>
  <div class="col-md-3">
    <p>Adversaire</p>
  </div>
</div>
<% @client.dossiers.each do |dossier| %>
<div class="row">
  <%= link_to dossier_path(dossier) do %>
  <div class="col-md-3">
    <p><span class="client-info-content"><%= dossier.nom %></span></p>
  </div>
  <div class="col-md-3">
    <p><span class="client-info-content"><%= dossier.categorie %></span></p>
  </div>
  <div class="col-md-3">
    <p><span class="client-info-content"><%= dossier.adversaire %></span></p>
  </div>
  <% end %>
  <div class="col-md-1">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </div>
  <div class="col-md-1">
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>
</div>
<% end %>
