<%= link_to clients_path(client_id: @dossier.client.id) do %>
<div class="icon-back"><i class="fa fa-arrow-left" aria-hidden="true"></div></i>
<% end %>
<div class=" txt-center pb-20px">
  <h4 class="no-margin color-dark-blue"><span class="bb-green"><%= @dossier.nom %></span> </h4>
</div>
<div class="row">
  <div class="col-xs-6">
    <p class="client-info">Client : <span class="client-info-content"><%= @dossier.client.prenom %> <%= @dossier.client.nom %></span> </p>
    <p class="client-info">Adversaire : <span class="client-info-content"><%= @dossier.adversaire %></span> </p>
    <p class="client-info">Juridiction : <span class="client-info-content"><%= @dossier.juridiction %></span> </p>
    <p class="client-info">Catégorie : <span class="client-info-content"><%= @dossier.categorie %></span> </p>
  </div>
  <div class="col-xs-6">
    <p class="client-info">Pension alimentaire : <span class="client-info-content">
    <% if @dossier.nb_enfant_a_charge == 0 %>
      Pas de pension
    <% elsif @dossier.parent_debiteur == 0 %>
     - <%= @dossier.pension_alimentaire %>
    <% elsif @dossier.parent_debiteur == 1 %>
     + <%= @dossier.pension_alimentaire %>
     <% end %>
     <%# raise %>
     </span> </p>

  </div>
</div>
<hr>
<div class="row">
  <% if params[:p_al_calc] == "true" %>
    <%= render partial: 'shared/Calculs/pension_alimentaire.html.erb' %>
  <% end %>
</div>



