  <%= link_to clients_path(client_id: @client.id) do %><div class="icon-back"><i class="fa fa-arrow-left" aria-hidden="true"></div></i><% end %>
  <h4 class="no-margin color-dark-blue upper txt-center"><span class="bb-green">Modifier le dossier</span></h4>
  <div class="row">
    <%= simple_form_for [@client, @edit_dossier] do |f| %>
    <div class="p-20px flex-row-space-between-wrap">

      <div class="flex-100percent">
        <div>
          <h5 class="no-margin color-dark-blue txt-center mb-20px"><span class="bb-green">Informations</span></h5>
        </div>
      </div>

      <div class="input-blue flex-45percent">
        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="text"><%= f.input :nom, label:false, input_html: { value: @edit_dossier.nom } %></div>
      </div>

      <div class="input-blue flex-45percent">
        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="text"><%= f.input :adversaire, label:false, input_html: { value: @edit_dossier.adversaire } %></div>
      </div>

      <div class="input-blue flex-45percent">
        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="text"><%= f.input :juridiction, label:false, input_html: { value: @edit_dossier.juridiction } %></div>
      </div>

      <div class="input-blue flex-45percent">
        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="text"><%= f.input :categorie, label:false, input_html: { value: @edit_dossier.categorie } %></div>
      </div>

      <div class="flex-100percent">
        <div>
          <h5 class="no-margin color-dark-blue txt-center mb-20px"><%= f.submit "Je modifie le dossier", class:"btn btn-default btn-submit-blue " %></h5>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>
